#autoattack @ git+https://github.com/fra31/auto-attack@a39220048b3c9f2cca9a4d3a54604793c68eca7e
numpy==2.0.0
nupmy==1.0
nvidia-pyindex==1.0.9
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
#RandAugment @ git+https://github.com/ildoonet/pytorch-randaugment@48b8f509c4bbda93bbe733d98b3fd052b6e4c8ae
six==1.16.0
tzdata==2024.1
